
<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	
    <script type="text/javascript">
	jq(function(){
		jq(".show").hover(
			function(){
				jq(this).children(".hidden").show();
				}
			,function(){
				jq(this).children(".hidden").hide();
				});
		jq(".show1").hover(
		function(){
			jq(this).children(".hidden1").show();
			}
		,function(){
			jq(this).children(".hidden1").hide();
			});
		jq(".show2").hover(
		function(){
			jq(this).children(".hidden2").show();
			}
		,function(){
			jq(this).children(".hidden2").hide();
			});
		})
</script>
		<div class="deanwp">
    	<div class="w1180">
            <div class="deanads"><!--[diy=diy1]--><div id="diy1" class="area"><div id="frametNoQyr" class="cl_frame_bm frame move-span cl frame-1"><div id="frametNoQyr_left" class="column frame-1-c"><div id="frametNoQyr_left_temp" class="move-span temp"></div><!--{block/149}--></div></div></div><!--[/diy]--></div>
            <div class="deanpartone">
            	<div class="deanpoleft">
                	
                	<div class="deanflash">
                    	<div class="banner">
                            <div class="banner-btn">
                                <a href="javascript:;" class="prevBtn"><i></i></a>
                                <a href="javascript:;" class="nextBtn"><i></i></a>
                            </div>
                            
                            	<!--[diy=diy2]--><div id="diy2" class="area"><div id="frameWVnqnN" class="cl_frame_bm frame move-span cl frame-1"><div id="frameWVnqnN_left" class="column frame-1-c"><div id="frameWVnqnN_left_temp" class="move-span temp"></div><!--{block/150}--></div></div></div><!--[/diy]-->
                            
                            <ul class="banner-circle"></ul>
                        </div>
                    </div>
                    <div class="deanpubtitle"><span class="deanblue">城市</span><span class="huise">快讯</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                    <!--[diy=diy3]--><div id="diy3" class="area"><div id="framepqOhOT" class="cl_frame_bm frame move-span cl frame-1"><div id="framepqOhOT_left" class="column frame-1-c"><div id="framepqOhOT_left_temp" class="move-span temp"></div><!--{block/151}--></div></div></div><!--[/diy]-->
                    
                    <div class="deannewslist">
                    	<ul>
                        	<!--[diy=diy4]--><div id="diy4" class="area"><div id="framekGHJGc" class="cl_frame_bm frame move-span cl frame-1"><div id="framekGHJGc_left" class="column frame-1-c"><div id="framekGHJGc_left_temp" class="move-span temp"></div><!--{block/152}--></div></div></div><!--[/diy]-->
                        	
                            
                        </ul>
                    </div>
                    <div class="deanads1"><!--[diy=diy5]--><div id="diy5" class="area"><div id="frameTCBr5c" class="cl_frame_bm frame move-span cl frame-1"><div id="frameTCBr5c_left" class="column frame-1-c"><div id="frameTCBr5c_left_temp" class="move-span temp"></div><!--{block/153}--></div></div></div><!--[/diy]--></div>
                </div>
                <div class="deanpomiddle">
                	<div class="deanpomtop">
						<h3><span class="deanblue">城事</span><span class="huise">最先知</span><span class="weather"><!--[diy=diy6]--><div id="diy6" class="area"><div id="frameVmT2LC" class="cl_frame_bm frame move-span cl frame-1"><div id="frameVmT2LC_left" class="column frame-1-c"><div id="frameVmT2LC_left_temp" class="move-span temp"></div><!--{block/154}--></div></div></div><!--[/diy]--></span><div class="clear"></div></h3>
                        <div class="deanheadline">
                        	<!--[diy=diy7]--><div id="diy7" class="area"><div id="frameg882CO" class="cl_frame_bm frame move-span cl frame-1"><div id="frameg882CO_left" class="column frame-1-c"><div id="frameg882CO_left_temp" class="move-span temp"></div><!--{block/155}--></div></div></div><!--[/diy]-->
                            
                        </div>
                        <div class="deanheadline">
                        	<!--[diy=diy8]--><div id="diy8" class="area"><div id="frameWTqa88" class="cl_frame_bm frame move-span cl frame-1"><div id="frameWTqa88_left" class="column frame-1-c"><div id="frameWTqa88_left_temp" class="move-span temp"></div><!--{block/156}--></div></div></div><!--[/diy]-->
                            
                        </div>
                        <div class="deannewslists">
                        	<ul>
                            	<!--[diy=diy9]--><div id="diy9" class="area"><div id="framencA18b" class="cl_frame_bm frame move-span cl frame-1"><div id="framencA18b_left" class="column frame-1-c"><div id="framencA18b_left_temp" class="move-span temp"></div><!--{block/158}--></div></div></div><!--[/diy]-->
                            	
                            </ul>
                        </div>
                        <div class="deannewslists">
                        	<ul>
                            	<!--[diy=diy10]--><div id="diy10" class="area"><div id="frameS00010" class="cl_frame_bm frame move-span cl frame-1"><div id="frameS00010_left" class="column frame-1-c"><div id="frameS00010_left_temp" class="move-span temp"></div><!--{block/157}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                        <div class="deannewslists">
                        	<ul>
                            	<!--[diy=diy11]--><div id="diy11" class="area"><div id="framen2haTl" class="cl_frame_bm frame move-span cl frame-1"><div id="framen2haTl_left" class="column frame-1-c"><div id="framen2haTl_left_temp" class="move-span temp"></div><!--{block/159}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                        <div class="deanpicnews">
                        	<h4><span>精选</span></h4>
                        	<ul>
                            	
                            	<!--[diy=diy12]--><div id="diy12" class="area"><div id="frameD8HlZ0" class="cl_frame_bm frame move-span cl frame-1"><div id="frameD8HlZ0_left" class="column frame-1-c"><div id="frameD8HlZ0_left_temp" class="move-span temp"></div><!--{block/160}--></div></div></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="deanporight">
                	<div class="deanuserinfo">
                    	<!--{template common/header_userstatusindex}-->
                    	
                    </div>
                    <div class="clear"></div>
                    <div class="deanads1" style="margin-top:10px;"><a href="#" target="_blank"><img src="$_G['style'][styleimgdir]/x1.jpg" /></a></div>
                    <div class="deanpubtitle"><span class="deanblue">活动</span><span class="huise">预报</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                    <div class="deanhd">
                    	<ul>
                        	<!--[diy=diy14]--><div id="diy14" class="area"><div id="frameTc8580" class="cl_frame_bm frame move-span cl frame-1"><div id="frameTc8580_left" class="column frame-1-c"><div id="frameTc8580_left_temp" class="move-span temp"></div><!--{block/161}--></div></div></div><!--[/diy]-->
                        	
                        </ul>
                    </div>
                    <div class="deanpubtitle"><span class="deanblue">便民</span><span class="huise">服务</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                    <div class="deantools">
                    	<a href="#" target="_blank"><i class="deanhouse"></i><p>房产</p></a>
                        <a href="#" target="_blank"><i class="deantravel"></i><p>旅行</p></a>
                        <a href="#" target="_blank"><i class="deanfood"></i><p>美食</p></a>
                        <a href="#" target="_blank"><i class="deanphoto"></i><p>摄影</p></a>
                        <a href="#" target="_blank"><i class="deanjob"></i><p>求职</p></a>
                        <a href="#" target="_blank"><i class="deanshop"></i><p>购物</p></a>
                        <a href="#" target="_blank"><i class="deanfriend"></i><p>交友</p></a>
                        <a href="#" target="_blank"><i class="deanmap"></i><p>地图</p></a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="deanads"><!--[diy=diy15]--><div id="diy15" class="area"><div id="frameh00606" class="cl_frame_bm frame move-span cl frame-1"><div id="frameh00606_left" class="column frame-1-c"><div id="frameh00606_left_temp" class="move-span temp"></div><!--{block/162}--></div></div></div><!--[/diy]--></div>
            <div class="part3">
            	<div class="part3c">
                	<div class="deanpomtop">
                		<h3><span class="deanblue">生活</span><span class="huise">消费</span><a class="deanmore" href="#" target="_blank">更多</a><div class="clear"></div></h3>
                    </div>
                    <div class="con">
                    	<div class="con_left">
                        	<dl>
                            	<dt>
                                	<!--[diy=diy16]--><div id="diy16" class="area"><div id="frameeQjTLP" class="cl_frame_bm frame move-span cl frame-1"><div id="frameeQjTLP_left" class="column frame-1-c"><div id="frameeQjTLP_left_temp" class="move-span temp"></div><!--{block/163}--></div></div></div><!--[/diy]-->
                                	
                                   
                                </dt>
                                
                                <dd class="one_t">
                                	<!--[diy=diy17]--><div id="diy17" class="area"><div id="frameyJhqBc" class="frame move-span cl frame-1"><div id="frameyJhqBc_left" class="column frame-1-c"><div id="frameyJhqBc_left_temp" class="move-span temp"></div><!--{block/164}--></div></div></div><!--[/diy]-->
                                	
                                </dd>
                                <dd class="one_t">
                                	<!--[diy=diy18]--><div id="diy18" class="area"><div id="framefB8qOO" class="cl_frame_bm frame move-span cl frame-1"><div id="framefB8qOO_left" class="column frame-1-c"><div id="framefB8qOO_left_temp" class="move-span temp"></div><!--{block/165}--></div></div></div><!--[/diy]-->
                                </dd>
                                <dd class="one_t">
                                	<!--[diy=diy19]--><div id="diy19" class="area"><div id="frameHxR0cH" class="cl_frame_bm frame move-span cl frame-1"><div id="frameHxR0cH_left" class="column frame-1-c"><div id="frameHxR0cH_left_temp" class="move-span temp"></div><!--{block/166}--></div></div></div><!--[/diy]-->
                                </dd>
                                <dd class="two_t_e">
                                	<!--[diy=diy20]--><div id="diy20" class="area"><div id="framexa0ALB" class="cl_frame_bm frame move-span cl frame-1"><div id="framexa0ALB_left" class="column frame-1-c"><div id="framexa0ALB_left_temp" class="move-span temp"></div><!--{block/167}--></div></div></div><!--[/diy]-->
                                	
                                </dd>
                                <dd class="two_b">
                                	<!--[diy=diy21]--><div id="diy21" class="area"><div id="framebrGZ6P" class="cl_frame_bm frame move-span cl frame-1"><div id="framebrGZ6P_left" class="column frame-1-c"><div id="framebrGZ6P_left_temp" class="move-span temp"></div><!--{block/168}--></div></div></div><!--[/diy]-->
                                	
                                </dd>
                                <dd class="one_t">
                                	<!--[diy=diy22]--><div id="diy22" class="area"><div id="frames8O00B" class="cl_frame_bm frame move-span cl frame-1"><div id="frames8O00B_left" class="column frame-1-c"><div id="frames8O00B_left_temp" class="move-span temp"></div><!--{block/169}--></div></div></div><!--[/diy]-->
                                	
                                </dd>
                                <dd class="one_t">
                                	<!--[diy=diy23]--><div id="diy23" class="area"><div id="frameM0MO52" class="cl_frame_bm frame move-span cl frame-1"><div id="frameM0MO52_left" class="column frame-1-c"><div id="frameM0MO52_left_temp" class="move-span temp"></div><!--{block/170}--></div></div></div><!--[/diy]-->
                                </dd>
                                <dd class="one_t" style="margin:0px;">
                                	<!--[diy=diy24]--><div id="diy24" class="area"><div id="frameOQ8o2g" class="cl_frame_bm frame move-span cl frame-1"><div id="frameOQ8o2g_left" class="column frame-1-c"><div id="frameOQ8o2g_left_temp" class="move-span temp"></div><!--{block/171}--></div></div></div><!--[/diy]-->
                                </dd>
                                <div class="clear"></div>
                            </dl>
                        </div>
                        <div class="con_right">
                        	<dl>
                            	<dt>
                                	<!--[diy=diy25]--><div id="diy25" class="area"><div id="frameGJhcQ6" class="cl_frame_bm frame move-span cl frame-1"><div id="frameGJhcQ6_left" class="column frame-1-c"><div id="frameGJhcQ6_left_temp" class="move-span temp"></div><!--{block/172}--></div></div></div><!--[/diy]-->
                                </dt>
                            </dl>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="deanpart4">
            	<div class="deanpart4left">
                	<div class="deandetails">
                    	<div class="deanpubtitle"><span class="deanblue">本地</span><span class="huise">新闻</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                        <!--[diy=diy26]--><div id="diy26" class="area"><div id="frameXLrRXa" class="cl_frame_bm frame move-span cl frame-1"><div id="frameXLrRXa_left" class="column frame-1-c"><div id="frameXLrRXa_left_temp" class="move-span temp"></div><!--{block/173}--></div></div></div><!--[/diy]-->
                        
                        <div class="deandetailsbottom">
                        	<ul>
                            	<!--[diy=diy27]--><div id="diy27" class="area"><div id="framepHc00B" class="cl_frame_bm frame move-span cl frame-1"><div id="framepHc00B_left" class="column frame-1-c"><div id="framepHc00B_left_temp" class="move-span temp"></div><!--{block/181}--></div></div></div><!--[/diy]-->
                            	
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails deanright">
                    	<div class="deanpubtitle"><span class="deanblue">汽车</span><span class="huise">广场</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                         <!--[diy=diy28]--><div id="diy28" class="area"><div id="frameu0rQA2" class="cl_frame_bm frame move-span cl frame-1"><div id="frameu0rQA2_left" class="column frame-1-c"><div id="frameu0rQA2_left_temp" class="move-span temp"></div><!--{block/174}--></div></div></div><!--[/diy]-->
                        <div class="deandetailsbottom">
                        	<ul>
                            	 <!--[diy=diy29]--><div id="diy29" class="area"><div id="frameg5qC00" class="cl_frame_bm frame move-span cl frame-1"><div id="frameg5qC00_left" class="column frame-1-c"><div id="frameg5qC00_left_temp" class="move-span temp"></div><!--{block/182}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails">
                    	<div class="deanpubtitle"><span class="deanblue">健康</span><span class="huise">养生</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                         <!--[diy=diy30]--><div id="diy30" class="area"><div id="frameqrBHlG" class="cl_frame_bm frame move-span cl frame-1"><div id="frameqrBHlG_left" class="column frame-1-c"><div id="frameqrBHlG_left_temp" class="move-span temp"></div><!--{block/175}--></div></div></div><!--[/diy]-->
                        <div class="deandetailsbottom">
                        	<ul>
                            	 <!--[diy=diy31]--><div id="diy31" class="area"><div id="frameKXcQcl" class="cl_frame_bm frame move-span cl frame-1"><div id="frameKXcQcl_left" class="column frame-1-c"><div id="frameKXcQcl_left_temp" class="move-span temp"></div><!--{block/183}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails deanright">
                    	<div class="deanpubtitle"><span class="deanblue">教育</span><span class="huise">培训</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                         <!--[diy=diy32]--><div id="diy32" class="area"><div id="framekRx0b1" class="cl_frame_bm frame move-span cl frame-1"><div id="framekRx0b1_left" class="column frame-1-c"><div id="framekRx0b1_left_temp" class="move-span temp"></div><!--{block/176}--></div></div></div><!--[/diy]-->
                        <div class="deandetailsbottom">
                        	<ul>
                            	 <!--[diy=diy33]--><div id="diy33" class="area"><div id="frameU02LBB" class="cl_frame_bm frame move-span cl frame-1"><div id="frameU02LBB_left" class="column frame-1-c"><div id="frameU02LBB_left_temp" class="move-span temp"></div><!--{block/184}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails">
                    	<div class="deanpubtitle"><span class="deanblue">摄影</span><span class="huise">天地</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                         <!--[diy=diy34]--><div id="diy34" class="area"><div id="framepac2om" class="cl_frame_bm frame move-span cl frame-1"><div id="framepac2om_left" class="column frame-1-c"><div id="framepac2om_left_temp" class="move-span temp"></div><!--{block/177}--></div></div></div><!--[/diy]-->
                        <div class="deandetailsbottom">
                        	<ul>
                            	 <!--[diy=diy35]--><div id="diy35" class="area"><div id="framephb08J" class="cl_frame_bm frame move-span cl frame-1"><div id="framephb08J_left" class="column frame-1-c"><div id="framephb08J_left_temp" class="move-span temp"></div><!--{block/185}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails deanright">
                    	<div class="deanpubtitle"><span class="deanblue">母婴</span><span class="huise">育儿</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                         <!--[diy=diy36]--><div id="diy36" class="area"><div id="frameDqC8G2" class="cl_frame_bm frame move-span cl frame-1"><div id="frameDqC8G2_left" class="column frame-1-c"><div id="frameDqC8G2_left_temp" class="move-span temp"></div><!--{block/178}--></div></div></div><!--[/diy]-->
                        <div class="deandetailsbottom">
                        	<ul>
                            	 <!--[diy=diy37]--><div id="diy37" class="area"><div id="frameqTTAp0" class="cl_frame_bm frame move-span cl frame-1"><div id="frameqTTAp0_left" class="column frame-1-c"><div id="frameqTTAp0_left_temp" class="move-span temp"></div><!--{block/186}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails">
                    	<div class="deanpubtitle"><span class="deanblue">美食</span><span class="huise">资讯</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                         <!--[diy=diy38]--><div id="diy38" class="area"><div id="framen51XHC" class="cl_frame_bm frame move-span cl frame-1"><div id="framen51XHC_left" class="column frame-1-c"><div id="framen51XHC_left_temp" class="move-span temp"></div><!--{block/179}--></div></div></div><!--[/diy]-->
                        <div class="deandetailsbottom">
                        	<ul>
                            	 <!--[diy=diy39]--><div id="diy39" class="area"><div id="framea1bmJm" class="cl_frame_bm frame move-span cl frame-1"><div id="framea1bmJm_left" class="column frame-1-c"><div id="framea1bmJm_left_temp" class="move-span temp"></div><!--{block/187}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails deanright">
                    	<div class="deanpubtitle"><span class="deanblue">网购</span><span class="huise">分享</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                         <!--[diy=diy40]--><div id="diy40" class="area"><div id="frameS60LGB" class="cl_frame_bm frame move-span cl frame-1"><div id="frameS60LGB_left" class="column frame-1-c"><div id="frameS60LGB_left_temp" class="move-span temp"></div><!--{block/180}--></div></div></div><!--[/diy]-->
                        <div class="deandetailsbottom">
                        	<ul>
                            	 <!--[diy=diy41]--><div id="diy41" class="area"><div id="framenCzChC" class="cl_frame_bm frame move-span cl frame-1"><div id="framenCzChC_left" class="column frame-1-c"><div id="framenCzChC_left_temp" class="move-span temp"></div><!--{block/188}--></div></div></div><!--[/diy]-->
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="deanpart4right">
                	<div class="deandetails deandetilsright">
                    	<div class="deanpubtitle"><span class="deanblue">爱晒</span><span class="huise">爱秀</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                        <!--[diy=diy42]--><div id="diy42" class="area"><div id="frameFc0JQ0" class="cl_frame_bm frame move-span cl frame-1"><div id="frameFc0JQ0_left" class="column frame-1-c"><div id="frameFc0JQ0_left_temp" class="move-span temp"></div><!--{block/189}--></div></div></div><!--[/diy]-->
                        
                        <div class="deandetailsbottom">
                        	<ul>
                             	<!--[diy=diy43]--><div id="diy43" class="area"><div id="frameiOmOM5" class="cl_frame_bm frame move-span cl frame-1"><div id="frameiOmOM5_left" class="column frame-1-c"><div id="frameiOmOM5_left_temp" class="move-span temp"></div><!--{block/190}--></div></div></div><!--[/diy]-->
                            	
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="deanads1"><!--[diy=diy44]--><div id="diy44" class="area"><div id="frameyHb888" class="cl_frame_bm frame move-span cl frame-1"><div id="frameyHb888_left" class="column frame-1-c"><div id="frameyHb888_left_temp" class="move-span temp"></div><!--{block/191}--></div></div></div><!--[/diy]--></div>
                    <div class="deanpubtitle deanpubtitles"  style="margin-top:22px;"><span class="deanblue">热帖</span><span class="huise">排行</span>
                        <div class="deanranklist">
                            <ul>
                                <li class="cur">日</li>
                                <li>周</li>
                                <li>月</li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="clear"></div>
                     </div>
                    <div class="deanranklistcontent">
                        <ul>
                            <li style="display:block">
                                <div class="deanrllist">
                                    <dl>
                                    	<!--[diy=diy45]--><div id="diy45" class="area"><div id="frameFtXQzP" class="cl_frame_bm frame move-span cl frame-1"><div id="frameFtXQzP_left" class="column frame-1-c"><div id="frameFtXQzP_left_temp" class="move-span temp"></div><!--{block/192}--></div></div></div><!--[/diy]-->
                                        
                                        
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <div class="deanrllist">
                                    <dl>
                                        <!--[diy=diy46]--><div id="diy46" class="area"><div id="framejJgjL2" class="cl_frame_bm frame move-span cl frame-1"><div id="framejJgjL2_left" class="column frame-1-c"><div id="framejJgjL2_left_temp" class="move-span temp"></div><!--{block/193}--></div></div></div><!--[/diy]-->
                                        
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <div class="deanrllist">
                                    <dl>
                                    	<!--[diy=diy47]--><div id="diy47" class="area"><div id="frameJmJ5b8" class="cl_frame_bm frame move-span cl frame-1"><div id="frameJmJ5b8_left" class="column frame-1-c"><div id="frameJmJ5b8_left_temp" class="move-span temp"></div><!--{block/194}--></div></div></div><!--[/diy]-->
                                        
                                        
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
					jq(function(){
						jq(".deanranklist li").each(function(a){
							jq(this).hover(function(){
								jq(this).addClass("cur").siblings().removeClass("cur");
								jq(".deanranklistcontent li").eq(a).show().siblings().hide();
								})
							})
						})
					</script>
                    <div class="deanpubtitle"><span class="deanblue">会员</span><span class="huise">记录</span><div class="deanfb"><a href="home.php?mod=space&do=doing" target="_blank">发表</a></div><div class="clear"></div></div>
                    <div class="deanmj">
                    	<!--[diy=diy48]--><div id="diy48" class="area"><div id="framenbxO2T" class="cl_frame_bm frame move-span cl frame-1"><div id="framenbxO2T_left" class="column frame-1-c"><div id="framenbxO2T_left_temp" class="move-span temp"></div><!--{block/195}--></div></div></div><!--[/diy]-->
                    </div>
                     <script language="javascript">
					jq(function(){ 
						var scrtime; 
						jq(".deanmj").hover(
							function(){ 
								clearInterval(scrtime); 
							},
							function(){ 
								scrtime = setInterval(function(){ 
									var jqul = jq(".deanmj ul"); 
									var liHeight = jqul.find("li:last").height(); 
									jqul.animate({marginTop : liHeight+1 +"px"},1000,function(){ 
									jqul.find("li:last").prependTo(jqul) 
									jqul.find("li:first").hide(); 
									jqul.css({marginTop:0}); 
									jqul.find("li:first").fadeIn(1000); 
									}); 
								},3000); 
							}).trigger("mouseleave"); 
					}); 
					</script> 
                	</div>
                <div class="clear"></div>
            </div>
            <div class="deanads"><!--[diy=diy49]--><div id="diy49" class="area"><div id="frameMb1RmJ" class="cl_frame_bm frame move-span cl frame-1"><div id="frameMb1RmJ_left" class="column frame-1-c"><div id="frameMb1RmJ_left_temp" class="move-span temp"></div><!--{block/196}--></div></div></div><!--[/diy]--></div>
            <div class="deanp3">
            	<div class="deanp3l">
                	<div class="deandetails">
                    	<div class="deanpubtitle"><span class="deanblue">每周</span><span class="huise">话题</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                        <!--[diy=diy50]--><div id="diy50" class="area"><div id="frameuRzbcA" class="cl_frame_bm frame move-span cl frame-1"><div id="frameuRzbcA_left" class="column frame-1-c"><div id="frameuRzbcA_left_temp" class="move-span temp"></div><!--{block/197}--></div></div></div><!--[/diy]-->
                        
                        <div class="deandetailsbottom">
                        	<ul>
                            	<!--[diy=diy51]--><div id="diy51" class="area"><div id="frameuRG0ac" class="cl_frame_bm frame move-span cl frame-1"><div id="frameuRG0ac_left" class="column frame-1-c"><div id="frameuRG0ac_left_temp" class="move-span temp"></div><!--{block/198}--></div></div></div><!--[/diy]-->
                            	
                            </ul>
                        </div>
                    </div>
                    <div class="deandetails deanright">
                    	<div class="deanpubtitle"><span class="deanblue">热点</span><span class="huise">聚焦</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                        <div class="deansec_m">
                            <ul>
                            	<!--[diy=diy52]--><div id="diy52" class="area"><div id="framefxc08o" class="cl_frame_bm frame move-span cl frame-1"><div id="framefxc08o_left" class="column frame-1-c"><div id="framefxc08o_left_temp" class="move-span temp"></div><!--{block/199}--></div></div></div><!--[/diy]-->
                                
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="deanp3r">
                    <div class="deanpubtitle"><span class="deanblue">会员</span><span class="huise">排行</span><a href="#" target="_blank">更多</a><div class="clear"></div></div>
                    <div class="deanhuiyuan">
                    	<ul>
                        	<!--[diy=diy53]--><div id="diy53" class="area"><div id="frameac1xtM" class="cl_frame_bm frame move-span cl frame-1"><div id="frameac1xtM_left" class="column frame-1-c"><div id="frameac1xtM_left_temp" class="move-span temp"></div><!--{block/200}--></div></div></div><!--[/diy]-->
                        	
                        </ul>
                    	
                    </div>
                    
                </div>
                <div class="clear"></div>
            </div>
            <div class="deantuku">
            	<div class="deanpomtop">
                    <h3><span class="deanblue">生活</span><span class="huise">消费</span><a class="deanmore" href="#" target="_blank">更多</a><div class="clear"></div></h3>
                </div>
                <div class="tkl">
                <!--[diy=diy54]--><div id="diy54" class="area"><div id="framefBQP05" class="cl_frame_bm frame move-span cl frame-1"><div id="framefBQP05_left" class="column frame-1-c"><div id="framefBQP05_left_temp" class="move-span temp"></div><!--{block/201}--></div></div></div><!--[/diy]-->
                <!--[diy=diy55]--><div id="diy55" class="area"><div id="frameKTm225" class="cl_frame_bm frame move-span cl frame-1"><div id="frameKTm225_left" class="column frame-1-c"><div id="frameKTm225_left_temp" class="move-span temp"></div><!--{block/202}--></div></div></div><!--[/diy]-->
                
            </div>
            <div class="thm">
                <!--[diy=diy56]--><div id="diy56" class="area"><div id="frameucLaH1" class="cl_frame_bm frame move-span cl frame-1"><div id="frameucLaH1_left" class="column frame-1-c"><div id="frameucLaH1_left_temp" class="move-span temp"></div><!--{block/203}--></div></div></div><!--[/diy]-->
            </div>
            <div class="tkr">
                 <!--[diy=diy57]--><div id="diy57" class="area"><div id="frameQ8Ghq8" class="cl_frame_bm frame move-span cl frame-1"><div id="frameQ8Ghq8_left" class="column frame-1-c"><div id="frameQ8Ghq8_left_temp" class="move-span temp"></div><!--{block/205}--></div></div></div><!--[/diy]-->
                 <!--[diy=diy58]--><div id="diy58" class="area"><div id="framej01801" class="cl_frame_bm frame move-span cl frame-1"><div id="framej01801_left" class="column frame-1-c"><div id="framej01801_left_temp" class="move-span temp"></div><!--{block/204}--></div></div></div><!--[/diy]-->
            </div>
            <div class="clear"></div>
            
            
            <script type="text/javascript">
            jq(function() {
            
                jq('.da-thumbs > li').hoverdir();
            
            });
            </script>
            </div>
            <div class="deanads"><!--[diy=diy59]--><div id="diy59" class="area"><div id="frameZ1HCGQ" class="cl_frame_bm frame move-span cl frame-1"><div id="frameZ1HCGQ_left" class="column frame-1-c"><div id="frameZ1HCGQ_left_temp" class="move-span temp"></div><!--{block/206}--></div></div></div><!--[/diy]--></div>
            <div class="deanluntanbk">
            	<div class="deanpomtop">
                    <h3><span class="deanblue">论坛</span><span class="huise">导航</span></h3>
                </div>
                <div class="deanbankuai">
                        <ul>
                            <li style=" background:none;"><img src="$_G['style'][styleimgdir]/logo1.png" /></li>
                            <li class="deanbkone">
                            	<!--[diy=diy60]--><div id="diy60" class="area"><div id="frameyJ5a1x" class="cl_frame_bm frame move-span cl frame-1"><div id="frameyJ5a1x_left" class="column frame-1-c"><div id="frameyJ5a1x_left_temp" class="move-span temp"></div><!--{block/207}--></div></div></div><!--[/diy]-->
                                
                            </li>
                            <li class="deanbktwo">
                                <!--[diy=diy61]--><div id="diy61" class="area"><div id="frameBAj8hq" class="cl_frame_bm frame move-span cl frame-1"><div id="frameBAj8hq_left" class="column frame-1-c"><div id="frameBAj8hq_left_temp" class="move-span temp"></div><!--{block/208}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbkthree">
                                <!--[diy=diy62]--><div id="diy62" class="area"><div id="frameA1xtlG" class="cl_frame_bm frame move-span cl frame-1"><div id="frameA1xtlG_left" class="column frame-1-c"><div id="frameA1xtlG_left_temp" class="move-span temp"></div><!--{block/209}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbkfour">
                                <!--[diy=diy63]--><div id="diy63" class="area"><div id="framefbb06J" class="cl_frame_bm frame move-span cl frame-1"><div id="framefbb06J_left" class="column frame-1-c"><div id="framefbb06J_left_temp" class="move-span temp"></div><!--{block/210}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbkfive">
                                <!--[diy=diy64]--><div id="diy64" class="area"><div id="frameN6abqA" class="cl_frame_bm frame move-span cl frame-1"><div id="frameN6abqA_left" class="column frame-1-c"><div id="frameN6abqA_left_temp" class="move-span temp"></div><!--{block/211}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbksix">
                                <!--[diy=diy65]--><div id="diy65" class="area"><div id="frameb2tP0O" class="cl_frame_bm frame move-span cl frame-1"><div id="frameb2tP0O_left" class="column frame-1-c"><div id="frameb2tP0O_left_temp" class="move-span temp"></div><!--{block/212}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbkseven">
                                <!--[diy=diy66]--><div id="diy66" class="area"><div id="frameX50a6X" class="cl_frame_bm frame move-span cl frame-1"><div id="frameX50a6X_left" class="column frame-1-c"><div id="frameX50a6X_left_temp" class="move-span temp"></div><!--{block/213}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbkeight">
                                <!--[diy=diy70]--><div id="diy70" class="area"><div id="framewAALct" class="cl_frame_bm frame move-span cl frame-1"><div id="framewAALct_left" class="column frame-1-c"><div id="framewAALct_left_temp" class="move-span temp"></div><!--{block/214}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbknight">
                                <!--[diy=diy67]--><div id="diy67" class="area"><div id="frameEMuzY8" class="cl_frame_bm frame move-span cl frame-1"><div id="frameEMuzY8_left" class="column frame-1-c"><div id="frameEMuzY8_left_temp" class="move-span temp"></div><!--{block/215}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbkten">
                                <!--[diy=diy68]--><div id="diy68" class="area"><div id="frameiUpJF4" class="cl_frame_bm frame move-span cl frame-1"><div id="frameiUpJF4_left" class="column frame-1-c"><div id="frameiUpJF4_left_temp" class="move-span temp"></div><!--{block/216}--></div></div></div><!--[/diy]-->
                            </li>
                            <li class="deanbkeleven">
                                <!--[diy=diy69]--><div id="diy69" class="area"><div id="frameUq887U" class="cl_frame_bm frame move-span cl frame-1"><div id="frameUq887U_left" class="column frame-1-c"><div id="frameUq887U_left_temp" class="move-span temp"></div><!--{block/217}--></div></div></div><!--[/diy]-->
                            </li>
                            <div class="clear"></div>
                  </ul>
              </div>
            </div>
            <div class="deanylian">
            	<div class="deanpomtop">
                    <h3><span class="deanblue">友情</span><span class="huise">连接</span><a class="deanlink" href="#" target="_blank">申请加入</a><div class="clear"></div></h3>
                </div>
                <ul>
                	<!--[diy=diy77]--><div id="diy77" class="area"><div id="frameSz444P" class="cl_frame_bm frame move-span cl frame-1"><div id="frameSz444P_left" class="column frame-1-c"><div id="frameSz444P_left_temp" class="move-span temp"></div><!--{block/218}--></div></div></div><!--[/diy]-->
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    
</div>

<!--{template common/footer}-->

