@charset "utf-8";
/* ----------------------------------
CSS file for Discuz! x3.2 
---------------------------------- */
/*版本：vision1.0*/
/*----------公共样式-------------*/
@keyframes pop{
0%{opacity:0;transform:scale(0.2);-ms-transform:scale(0.2);}
60%{opacity:0.75;transform:scale(1.1);-ms-transform:scale(1.1);}
100%{opacity:1;transform:scale(1);-ms-transform:scale(1);}
}
@-moz-keyframes pop{
0%{opacity:0;-moz-transform:scale(0.2);}
60%{opacity:0.75;-moz-transform:scale(1.1);}
100%{opacity:1;-moz-transform:scale(1);}
}
@-webkit-keyframes pop{
0%{opacity:0;-webkit-transform:scale(0.2);}
60%{opacity:0.75;-webkit-transform:scale(1.1);}
100%{opacity:1;-webkit-transform:scale(1);}
}
@-o-keyframes pop{
0%{opacity:0;-o-transform:scale(0.2);}
60%{opacity:0.75;-o-transform:scale(1.1);}
100%{opacity:1;-o-transform:scale(1);}
}
@keyframes fastr{
0%{opacity:0;transform:translate(0,60px);}
100%{opacity:1;transform:translate(0,0);}
}
@-webkit-keyframes fastr{
0%{opacity:0;-webkit-transform:translate(0,60px);}
100%{opacity:1;-webkit-transform:translate(0,0);}
}
@-moz-keyframes fastr{
0%{opacity:0;-moz-transform:translate(0,60px);}
100%{opacity:1;-moz-transform:translate(0,0);}
}
@-o-keyframes fastr{
0%{opacity:0;-o-transform:translate(0,60px);}
100%{opacity:1;-o-transform:translate(0,0);}
}
@keyframes afastr{
0%{opacity:0;transform:translate(0,-60px);}
67%{opacity:1;transform:translate(0,0);}
86%{opacity:1;transform:translate(0,-2px);}
100%{opacity:1;transform:translate(0,0);}
}
@-webkit-keyframes afastr{
0%{opacity:0;-webkit-transform:translate(0,-60px);}
67%{opacity:1;-webkit-transform:translate(0,0);}
86%{opacity:1;-webkit-transform:translate(0,-2px);}
100%{opacity:1;-webkit-transform:translate(0,0);}
}
@-moz-keyframes afastr{
0%{opacity:0;-moz-transform:translate(0,-60px);}
67%{opacity:1;-moz-transform:translate(0,0);}
86%{opacity:1;-moz-transform:translate(0,-2px);}
100%{opacity:1;-moz-transform:translate(0,0);}
}
@-o-keyframes afastr{
0%{opacity:0;-o-transform:translate(0,-60px);}
67%{opacity:1;-o-transform:translate(0,0);}
86%{opacity:1;-o-transform:translate(0,-2px);}
100%{opacity:1;-o-transform:translate(0,0);}
}
.fwinmask{animation-duration:0.4s;-webkit-animation-duration:0.4s;animation-name:pop;-webkit-animation-name:pop;}
.p_pop{animation-duration:0.2s;-webkit-animation-duration:0.2s;animation-name:afastr;-webkit-animation-name:afastr;}
.fastpreview{animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-name:afastr;-webkit-animation-name:afastr;}
.pct{animation-duration:0.5s;-webkit-animation-duration:0.5s;animation-name:fastr;-webkit-animation-name:fastr;}
#hd h2{animation-duration:0.4s;-webkit-animation-duration:0.4s;animation-name:afastr;-webkit-animation-name:afastr;}
#um,#toptb,.pns{animation-duration:1s;-webkit-animation-duration:1s;animation-name:afastr;-webkit-animation-name:afastr;}
.avt{transition:all .15s ease-out;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;-o-transition:all .15s ease-out;}
.avt:hover{transform:scale(1.07);-webkit-transform:scale(1.07);-moz-transform:scale(1.07);-o-transform:scale(1.07);}
a{transition:all 0.2s linear;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
#ls_username,#ls_password{transition:all 0.25s ease;-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-o-transition:all 0.25s ease;}
#ls_username:focus,#ls_password:focus{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);}

.frame-1 { background-color:transparent !important; background-image:none !important; border:0 none !important; margin:0 !important; padding:0 !important; border-width:0px; height: auto }
.frame-1-c { background-color:transparent !important; background-image:none !important; border:0 none !important; margin:0 !important; padding:0 !important; border-width:0px; height: auto; }
.move-span{ background-color:transparent !important; background-image:none !important; border:0 none !important; margin:0 !important; padding:0 !important; border-width:0px; height:auto;}
.move-span .content{ background-color:transparent !important; background-image:none !important; border:0 none !important; margin:0 !important; padding:0 !important; border-width:0px; height:auto;}
.deanmove{
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
	}
.deanmove:hover{ 
	 transform:translate(10px, 0);
    -webkit-transform:translate(10px, 0);
    -moz-transform:translate(10px, 0);
    -o-transform:translate(10px, 0);
    -ms-transform:translate(10px, 0);
	}

a{ text-decoration:none;}
a:hover{ text-decoration:none;}
*{ padding:0px;margin:0px;}
ul li{list-style:none;}
img{ border:none;}
.clear{ clear:both;}
body{ font-family:Microsoft Yahei;background:#F7FBFE;}
.w1180{ width:1180px; margin:0 auto;}
.wp,#wp{ width:1180px; margin:0 auto;}
#toptb{ width:100%; height:40px; background:#F4F7FC!important;border-bottom:none!important; line-height:40px;}
#toptb a{ font-size: 12px;color: #999; float:none;}
#toptb .z a{ line-height:40px;}
#diy-tg{line-height: 9px!important;}
#hd .wp{ padding:0;}
.deanblue{ color:#3598DB; padding-left:15px;}
.huise{ color:#f60;}
.hdc{min-height:0;}
.ct2_a .mn{ width:1018px;}
.ct3_a .mn{ width:795px;}
body#space .block{margin: 0 5px 10px!important;border: 1px solid #DDD!important;
background: #FFF;}
.move-span{ background:none;}
.tdats .tfxf{ width:865px!important;}

/*快捷导航*/
#qmenu{ margin:0; width: 25px; height:45px;cursor: pointer;position: relative;background:url({STYLEIMGDIR}/setting.png) center no-repeat;}
#qmenu.a{ background:url({STYLEIMGDIR}/setting.png) center center no-repeat; }
/*header*/
.deanheader{ background:#fff;}
	.deanhdtop{ width:100%; height:100px; background:url({STYLEIMGDIR}/bg.jpg) 0 0 repeat-x;}
		.deanlogo{ width:256px; height:80px; float:left;}
	#deanhfbottom{ width:100%; height:45px; background:#3598DB;}
		.deannav{ width:1000px; float:left; overflow:hidden; height:45px;}
			.deannav ul li{ float:left;}
				.deannav ul li a{ display:block; padding:0 20px; height:45px; line-height:45px; text-align:center; color:#fff; font-size:16px;}
				.deannav ul li a:hover,.deannav ul li.a a{ background:#fff; color:#3598DB;}
		.deansubnav{ float:right;}
			.deansubnav a{ display:block; width:36px; height:36px; margin-top:5px;}
	.deansecondnav{ width:100%; height:80px;  border-bottom: 3px solid #DCE2EB; overflow:hidden;}
		.deansecondnav{}
		.deansecondnav dl{ width:295px; overflow:hidden; padding-top:10px; float:left;}
			.deansecondnav dl dt{ float:left; margin-right:5px; height:80px; padding-top:4px;}
			.deansecondnav dl dd{ float:left; border-right:1px solid #eee;padding:0 10px; overflow:hidden; height:30px; line-height:30px;}
				.deansecondnav dl dd a{ font-size:14px; color:#888;}
				.deansecondnav dl dd a:hover{ color:#3598DB; text-decoration:underline;}

.deannav ul li span{display:none;}
.deandenglu{ float:right;}
.deandenglu ul li{ float:left;}
.deandenglu ul li a{height: 20px;line-height: 30px;padding: 5px 15px!important;color: #fff;border-radius: 3px; display:block; font-size:12px; font-weight:700;}
.deandenglu ul li a:hover{background-color: #f60 !important; color:#fff!important;}
.deansearch{ float:right; width:288px; margin-top:30px;}
/*footer*/
#ft{ border-top: none!important;}
/*footer*/
.deanfooter{width: 100%; margin-top:25px;height: 260px;overflow: hidden;background:url({STYLEIMGDIR}/portal_bg.png) 0 0 repeat-x;}

	.deanftl{ width: 234px;height: 190px;float: left;margin-right: 5px;padding: 32px 10px 32px 20px;}
	.deanftr{width: 145px;height: 190px;float: right;padding: 32px 20px 32px 10px;}
	.deanftm{width: 620px;height: 178px;float: left;padding: 20px 10px 55px 10px;color: #777;}
		.ftmt{ line-height:26px; width:600px; margin:0 auto;}
			.ftmt ul li{ float:left;}
				.ftmt ul li a{ font-size:12px; color:#777;}
					.ak a{font-size:12px; color:#777;}
			.ft li{width: 118px;height: 48px;float: left;border: 1px solid #eee;padding: 4px;margin: 0 10px 0 0;}
/*搜索*/
#scbar{height: 29px;line-height: 29px;background: #fff;float: right;overflow: visible;border: 2px solid #e9e9e9;}
.scbar_type_td, #scbar_type{ text-align: center;width: 30px;line-height: 30px;}
#scbar_type{ padding-left:0; font-size:14px; font-family:Microsoft Yahei;}
.scbar_txt_td, .scbar_type_td {background: none;}
#scbar_txt{ width:201px!important; padding-left:8px; font-family:Microsoft Yahei; color:#666;height: 22px;line-height: 21px;font-size: 12px;border:0;}
#scbar_btn{background:url({STYLEIMGDIR}/searchbar.png) center no-repeat!important; border: 0; width: 33px; height: 29px; line-height:30px;}
/*登录*/

/*未登录*/
.deanunlogin{ float:right; height:41px; line-height:41px; font-size:14px; font-family:microsoft yahei;}
/*登录*/
.logininfo{ position:absolute; height:41px; bottom:0px; right:50px; color:#333;}
.logins{ float:right; overflow:hidden; width:100px; height:41px;}
.deanlogin{float:right; width:auto; }
.deanlogin ul{overflow:hidden;float:right;}
.deanlogin ul li{ float:left;}
.loginout{ }
#myprompt.new{ background:url({STYLEIMGDIR}/notice.png) left center no-repeat;;}
.deanlogin dd a{ color:#666; }
.loginout a,.deanvwmy a{ color:#eee;}
.unlogin{ position:absolute; top:0; right:0px;}
.unlogin a{ display:block; width:48px; margin:0; height:41px; overflow:hidden; line-height:41px; text-align:center; float:left; padding:0; font-size:16px;  font-family:microsoft yahei; background:#fff; color:#333; margin-left:10px;}
#deanmemberinfo{ position:absolute; text-align:center; right:0; top:0; padding:0; width:85px; z-index:121; height:40px; line-height:30px; font-size:16px; overflow:hidden;margin-top: 5px;}
#deanmemberinfo a{color:#fff; font-family:microsoft yahei; font-size:14px;}
#deanmembercontent{ display:none; position:absolute; z-index:120; padding:5px 10px; background:#FFF; right:0; top:48px; width:104px; border:1px solid #E9E9E9; }	
#deanmemberinfo.curs a{ color:#fff;}
#deanmemberinfo a span{ display:block; width: 60px; height: 60px; overflow: hidden; line-height: 0; position: absolute; z-index: 6; top: 0; right: 8px;}
#deanmembercontent i{position:absolute; top:-9px; left:103px; display:block; border-top: 1px solid #E9E9E9;border-left: 1px solid #E9E9E9;float: left;background: #fff;display: block;width: 17px;height: 16px;-webkit-transform: rotate(-314deg);-moz-transform: rotate(-314deg);-o-transform: rotate(-314deg);-ms-transform: rotate(-314deg);transform: rotate(-314deg);}
#deanmembercontent dd{ display:block; line-height:20px; clear:both; text-align:center;}
#deanmembercontent dd a:hover{ color:#999;}
#deanmembercontent dd a{ color:#999; font-size:12px; display:block;}
.diydiv{ float:left;}
#diy-tg{ width:80px;}
#g_upmine{ padding-left:0px;}
.deanunlogin a{ float:left; padding-left:6px; display:block; color:#666; }
.deanunlogin a:hover{color:#2A629D;}
.deanadmin{height: 22px; line-height:26px;display: block; overflow:hidden;font-size:14px!important; color:#fff; font-weight:700!important; text-align:center;}
.deanvwmy{float:left;margin-left: 50px;}
.deanvwmy img{ width:30px; height:30px; border-radius:24px;}
#um dl dd{ float:left; margin-right:5px;}
#pm_ntc.new{ background:url({STYLEIMGDIR}/new_pm.png) left center no-repeat;}
.deantongzhi{padding-top: 7px; float: left;overflow:hidden; height:20px; margin-right:3px; }
.deantongzhi a{ font-weight:700; color:#999;font-weight:normal;}
#toptb .new{padding-left: 14px; color:#999; font-weight:normal;}
/*二级导航*/
#hd .p_pop{ background:#fff; opacity:0.95; filter:alpha(opacity=95); box-shaodow:0 0 0 #fff; border:1px solid #eee; margin-top:5px; }
#hd .p_pop a{ padding:5px; color:#3598DB; font-size:14px; font-family:microsoft yahei; border:none;}
#hd .p_pop a:hover{ color:#FFF!important; background:#3598DB;}
#hd .p_pop .adv a{ padding:0; color:#3598DB; border-bottom:0;}
.p_pop{ box-shadow:none;}



/**portal::list,portal::list,portal::view,forum::forumdisplay,forum::viewthread,forum::index**/
#pt{ }
.nvhm {background:url({STYLEIMGDIR}/home.png) no-repeat 0 7px; *margin-top:7px; _margin-top:7px; }
	#pt .z em {background:url({STYLEIMGDIR}/embg.png) no-repeat 3px 7px; }
	.ie8 #pt .z{ line-height:35px;}
	.ie8{background:url({STYLEIMGDIR}/embg.png) no-repeat 3px 0px; }
	.ie8 .nvhm,.ie9 .nvhm,.ie10 .nvhm{background:url({STYLEIMGDIR}/home.png) no-repeat 0 8px;}
	.chart { padding-left: 32px; background: url({STYLEIMGDIR}/chart.png) no-repeat 0 50%; color: #666;}
	#pt{ clear:both;}


/**end**/
